/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.phpunit.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
